@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin container-login-register {
    flex-direction: column;
    width: 350px;
    background-color: #ffffff;
    color: black;
    border-radius: 2rem;
    padding: 1.2rem 1.7rem 2.5rem 1.7rem;
    box-shadow: 1px 4px 8px rgba(136, 136, 136, 0.562);

    @media (max-width: 500px) {
        width: 90%;
    }
}

@mixin container-input {
    flex-direction: column;
    width: 100%;
    margin: 2rem 0 1rem 0;
    gap: 2rem;
}

@mixin div-input {
    display: flex;
    width: 90%;
    border-bottom: .1rem solid #a9a9a9;
    padding-bottom: .5rem;
}