@use './variables.scss';

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin container-login-register {
    flex-direction: column;
    width: 350px;
    background-color: variables.$ice-white;
    color:  variables.$coal-black;
    border-radius: 2rem;
    padding: 1.2rem 1.7rem 2.5rem 1.7rem;
    box-shadow: 1px 4px 8px variables.$dark-grey;

    @media (max-width: 500px) {
        width: 90%;
    }
}

@mixin container-input {
    flex-direction: column;
    width: 100%;
    margin-top: 1rem;
}

@mixin div-input {
    display: flex;
    width: 90%;
    border-bottom: .1rem solid variables.$light-grey;
    padding-bottom: .5rem;
    margin: 2rem 0 .4rem 0;
}

@mixin login-text-title {
    font-size: 2rem;
    font-weight: 500;
    margin-left: .2rem;
    margin-top: .4rem;
}