@use '../../styles/mixins.scss';

.layout-register {
    @include mixins.flex-center;
    flex-direction: column;
    width: 320px;
    background-color: #ffffff;
    color: black;
    border-radius: 2rem;
    padding: 1.2rem 1.7rem 2.5rem 1.7rem;
    box-shadow: 1px 4px 8px rgba(136, 136, 136, 0.562);

    .register-header{
        @include mixins.flex-center;
        margin: 0 1rem 1rem 0;
    }

    h2 {
        font-weight: 200;
    }

    .container-input {
        @include mixins.flex-center;
        flex-direction: column;
        width: 100%;
        margin: 2rem 0 1rem 0;
        gap: 2rem;

        div {
            display: flex;
            width: 87%;
            border-bottom: .1rem solid #a9a9a9;
            padding-bottom: .5rem;

            span {
                cursor: pointer;
            }
        }
    }

    .login {
        cursor: pointer;
   }
}