@use '../../styles/mixins.scss';

.layout-login {
    @include mixins.flex-center;
    @include mixins.container-login-register;

    .login-header {
        @include mixins.flex-center;
        margin: 0 1rem 2rem 0;

        h1 {
            @include mixins.login-text-title;
        }
    }

    h2 {
        font-weight: 200;
    }

    .container-input {
        @include mixins.flex-center;
        @include mixins.container-input;

        div {
            @include mixins.div-input;

            span {
                cursor: pointer;
            }
        }
    }

    .register-link {
        margin-top: .7rem;
        cursor: pointer;
    }

    .error-message {
        display: block;
        color: red;
        font-size: 0.8rem;
    }
}