@use '../../styles/mixins.scss';

.layout-login {
    @include mixins.flex-center;
    @include mixins.container-login-register;

    .login-header {
        @include mixins.flex-center;
        margin: 0 1rem 2rem 0;

        h1 {
            font-size: 2rem;
            font-weight: 500;
            margin-left: .2rem;
            margin-top: .4rem;
        }
    }

    h2 {
        font-weight: 200;
    }

    .container-input {
        @include mixins.flex-center;
        @include mixins.container-input;

        div {
            @include mixins.div-input;

            span {
                cursor: pointer;
            }
        }
    }

    .register {
        margin-top: .2rem;
        cursor: pointer;
    }
}